<div class="album py-1 bg-light">
<div class="container my-5"> 
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-xl-8 text-center">
      <h3 class="mb-4">Местоположение отеля</h3>
      <p class="mb-4 pb-2 mb-md-5 pb-md-0">
        Наш отель идеально расположен на берегу Средиземного моря в 
        нескольких минутах езды от главного аэропорта города. 
      </p>
    </div>
  </div>
    <div class="row">
      <div class="col-md-12">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa5bd005a82ba23118a84ed7f3908087bf23f99fc199c26b7502277c4cb9f3128&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>
