<div class="container mt-5">
    <section>
        <div class="row d-flex justify-content-center">
            <div class="col-md-10 col-xl-8 text-center">
              <h3 class="mb-4">Отзывы</h3>
              <p class="mb-4 pb-2 mb-md-5 pb-md-0">
                Прозрачность для нас — это не просто слово. 
                Мы стремимся предоставить вам полную информацию о нашем сервисе и условиях проживания, 
                а отзывы наших гостей помогают нам в этом. 
              </p>
            </div>
          </div>

        <div class="row text-center mb-5">
          <div class="col-md-4 mb-5 mb-md-0">
            <div class="d-flex justify-content-center mb-4">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
                class="rounded-circle shadow-1-strong" width="150" height="150" />
            </div>
            <h5 class="mb-3">Мария Иванова</h5>
            <h6 class="text-primary mb-3">20 августа 2024</h6>
            <p class="px-xl-3">
              <i class="fas fa-quote-left pe-2"></i>Отель превзошел все ожидания! Персонал был 
              невероятно дружелюбным и отзывчивым, номера чистыми и уютными. Завтрак — просто великолепие. Рекомендую всем!
            </p>
            <ul class="list-unstyled d-flex justify-content-center mb-0">
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star-half-alt fa-sm text-warning"></i>
              </li>
            </ul>
          </div>
          <div class="col-md-4 mb-5 mb-md-0">
            <div class="d-flex justify-content-center mb-4">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
                class="rounded-circle shadow-1-strong" width="150" height="150" />
            </div>
            <h5 class="mb-3">Елизавета Сидорова</h5>
            <h6 class="text-primary mb-3">17 августа 2024</h6>
            <p class="px-xl-3">
              <i class="fas fa-quote-left pe-2"></i>Прекрасное место для отдыха! Уютные номера, замечательный сервис и вкусная еда.
               Весь персонал очень дружелюбный и внимательный. Отель однозначно стоит своих денег!
            </p>
            <ul class="list-unstyled d-flex justify-content-center mb-0">
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
            </ul>
          </div>
          <div class="col-md-4 mb-0">
            <div class="d-flex justify-content-center mb-4">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
                class="rounded-circle shadow-1-strong" width="150" height="150" />
            </div>
            <h5 class="mb-3">Денис Петренко</h5>
            <h6 class="text-primary mb-3">16 августа 2024</h6>
            <p class="px-xl-3">
              <i class="fas fa-quote-left pe-2"></i>Отель оставил прекрасные впечатления. Чистота на вы
              сшем уровне, а удобства в номере сделали пребывание комфортным. Персонал всегда готов помочь. Обязательно вернусь!
            </p>
            <ul class="list-unstyled d-flex justify-content-center mb-0">
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="fas fa-star fa-sm text-warning"></i>
              </li>
              <li>
                <i class="far fa-star fa-sm text-warning"></i>
              </li>
            </ul>
          </div>
        </div>
      </section>
  </div>
  