{% extends "base.html" %}

{% block content %}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Бронирование номеров</h1>
        <p class="lead text-muted">Отправьтесь в удивительное приключение с нами, и мы гарантируем, что ваше пребывание будет наполнено яркими впечатлениями и комфортом.</p>
      </div>
    </div>
  </section>

{% include "rooms/includes/layout_album.html" %}
{% endblock content %}
