<div class="container">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <h3 class="mb-3">FAQ</h3>
        <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Могу ли я бесплатно отменить бронирование?
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Да, вы можете бесплатно отменить бронирование, если это сделано не позднее чем за 24 часа до даты заезда. Пожалуйста, посетите раздел "Мои бронирования", чтобы запросить отмену.</div>
        </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Каково расписание заезда и выезда?
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Регистрация заезда начинается в 14:00. Пожалуйста, планируйте свой отъезд так, чтобы вы покинули номер до 12:00 в день вашего отъезда.</div>
            </div>
            </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Как производится оплата за проживание?
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Для гарантирования бронирования потребовуется предоплата в размере 50% от суммы брони и услуг. Полная оплата за проживание производится при регистрации заезда. Мы принимаем наличные и кредитные карты.</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    Есть ли дополнительные услуги?
                </button>
            </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Мы предлагаем различные дополнительные услуги, такие как прачечная, обслуживание номеров и трансфер. Чтобы узнать больше о доступных услугах и их стоимости, посетите раздел "Услуги" .</div>
        </div>
    </div>
</div>